
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Echo</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalR")
    @Scripts.Render("~/bundles/wootalkJS")
    @Styles.Render("~/Content/css")
    <script src="~/signalr/hubs"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
